/* 폰트 설정 */
@font-face {
  font-family: "BookkMyungjo-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AppleSDGothicNeoB";
  src: url("source/AppleSDGothicNeoB.ttf");
}

/* 기본 설정 */
html,
body {
  font-family: "BookkMyungjo-Bd";
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 전체 화면 스크롤 방지 */
  background-color: #ffffff;
  overscroll-behavior: contain; /* 스크롤 체이닝 방지 */
  user-select: none; /* 텍스트 선택 방지 */
}

.table-container {
  padding: 20px;
  overflow-x: auto; /* 테이블 좌우 스크롤 가능 */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 90%;
  display: flex;
  table-layout: fixed;
  flex-direction: row;
}

th,
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  height: 100%;
  vertical-align: middle; /* 세로 방향 중앙 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 200px;
  overflow-x: hidden; /* 셀 내부 좌우 스크롤 방지 */
}

td {
  overflow-y: auto; /* 셀 내부 세로 스크롤 가능 */
  word-wrap: break-word;
  display: grid;
  grid-template-rows: 1fr 1fr 1.5fr;
}

.date,
.content,
.image {
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden; /* 좌우 스크롤 방지 */
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.image {
  align-self: flex-end;
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
  user-drag: none; /* 이미지 드래그 방지 */
}

.content {
  font-size: 10px;
  line-height: 1.5;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
  overflow-y: auto;
}

/* 버튼 스타일 */
.date-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
}

.date-button:hover {
  font-weight: bolder;
}

/* 팝업 스타일 */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 90%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 15px;
  box-sizing: border-box;
  text-align: center;
}

.popup-date {
  font-size: 20px;
  font-weight: bold;
}

.popup-image {
  max-width: 100%;
  height: auto;
  align-self: center;
}

.popup-content-text {
  font-size: 30px;
  line-height: 1.5;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #cc0000;
}

/* 스크롤바 디자인 */
.popup-content-text::-webkit-scrollbar,
.content::-webkit-scrollbar {
  width: 8px;
}

.popup-content-text::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.popup-content-text::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 10px;
}
